apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: nextcloud

resources:
  - ../../base

# Use local-path storage class (for testing)
patches:
  - target:
      kind: PersistentVolumeClaim
      name: nextcloud-data-pvc
    patch: |-
      - op: add
        path: /spec/storageClassName
        value: local-path
  - target:
      kind: PersistentVolumeClaim
      name: postgres-backup-pvc
    patch: |-
      - op: add
        path: /spec/storageClassName
        value: local-path

# For StatefulSet volumeClaimTemplates
  - target:
      kind: StatefulSet
      name: postgres
    patch: |-
      - op: add
        path: /spec/volumeClaimTemplates/0/spec/storageClassName
        value: local-path
